---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2023-2024",
    title: "Senior Frontend Developer",
    company: "Tempe INDITEX Group",
    description:
      "Restructured layouts, improved performance with React Hooks, migrated legacy projects, and maintained production code. I also mentored junior developers and contributed to projects involving HTML Canvas and AI.",
    link: "https://www.tempe.es",
  },
  {
    date: "2022-2023",
    title: "Full Stack Developer",
    company: "Doctomatic",
    description:
      "Implemented unit, end-to-end, and UI testing environments, contributed to improving development processes, and created tasks based on technical requirements. I developed full functionality from API endpoints to UI layouts, documented modules with Docusaurus and Swagger, and wrote scripts to manage the development environment. Additionally, I containerized APIs, databases, and external service mocks using Docker.",
    link: "https://www.doctomatic.com",
  },
  {
    date: "2021",
    title: "Frontend Developer Intern",
    company: "Aire Networks del Mediterráneo",
    description:
      "Worked on web layouts using HTML5, CSS3 (Flexbox, CSS Grid), migrated components from Vanilla JavaScript to React, modified legacy code functionalities, implemented new views in an internal web application, and designed a form validation system.",
    link: "https://www.airenetworks.es",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
